<div class="scanner">
  <button class="close-btn" (click)="close()">Close</button>
  <svg 
    class="overlay"
    #svgElement
    [attr.viewBox]="viewBox" 
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    [attr.preserveAspectRatio]="preserveAspectRatio"
  >
    <image *ngIf="showConfirmation" [attr.href]="photoTaken"></image>
    <polygon
      *ngFor="let result of detectionResults"
      [attr.points]="getPointsData(result)"
      stroke="green"
      stroke-width="1"
      fill="lime"
      opacity="0.3"
    >
    </polygon>
  </svg>
  <div id="confirmation" *ngIf="showConfirmation">
    <div>
      <button (click)="retake()">Retake</button>
      <button (click)="okay()">Okay</button>
    </div>
  </div>
</div>